mat-card {
    width: 85%;
    margin: auto;
}
mat-spinner{
    margin-top: 15px;
    margin-bottom: 15px;
}
mat-toolbar{
    width: 100%;
}
.alinhar{
    display: flex;
    align-items: center;
    justify-content: center;
}
.form{
    width: 100%;
    text-align: center;
    margin: 2px auto 0 auto;
}